/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-4-grid/css/grid.min.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

html,
body {
  min-height: 100vh !important;
  background-color: #292d30;
  color: #fff;
}
body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.ngx-charts text {
  fill: #fff;
}

.row {
  margin: 1rem;
}

.header-txt {
  font-size: 3em !important;
  text-align: center;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: whitesmoke !important;
}

.ng-placeholder {
  color: whitesmoke !important;
}
.ng-select .ng-select-container:after {
  border-bottom: thin solid whitesmoke !important;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  color: whitesmoke !important;
}

.ng-dropdown-panel {
  background-color: #424242 !important;
  color: whitesmoke !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: whitesmoke !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  color: whitesmoke !important;
}

.ng-select .ng-clear-wrapper {
  color: whitesmoke !important;
}
