<div class="row">
  <div class="col-8">
    <h1>
      <mat-icon aria-hidden="false"> emoji_people </mat-icon>
      Welcome to Jira Analytics
      <mat-icon aria-hidden="false"> emoji_people </mat-icon>
    </h1>
    <h3>
      <mat-icon aria-hidden="false"> account_tree </mat-icon>
      Pipe your self here (choose from the predefined routes)
      <mat-icon aria-hidden="false"> account_tree </mat-icon>
    </h3>
  </div>
  <div class="col-4"></div>
</div>

<div class="row">
  <div class="col-6">
    <div
      class="example-ripple-container mat-elevation-z4"
      matRipple
      (click)="showSpinner()"
      routerLink="projects"
    >
      <strong>
        <mat-icon aria-hidden="false"> highlight </mat-icon>
        Analytics for a specific project
        <mat-icon aria-hidden="false"> highlight </mat-icon>
      </strong>
    </div>
  </div>
  <div class="col-6">
    <div
      class="example-ripple-container mat-elevation-z4"
      matRipple
      (click)="showSpinner()"
      routerLink="users"
    >
      <mat-icon aria-hidden="false"> person </mat-icon>
      <strong> Analytics for a specific user </strong>
      <mat-icon aria-hidden="false"> person </mat-icon>
    </div>
  </div>
  <!-- <div class="col-6">
    <div
      class="example-ripple-container mat-elevation-z4"
      matRipple
      (click)="showSpinner()"
      routerLink="users"
    >
      <mat-icon aria-hidden="false"> local_fire_department </mat-icon>
      <strong> Get All Epics </strong>
      <mat-icon aria-hidden="false"> local_fire_department </mat-icon>
    </div>
  </div> -->
</div>
