<ng-container *ngIf="total">
  <pandora-chart
    [data]="total"
    type="number-card"
    [setColorScheme]="colorScheme"
  >
  </pandora-chart>
</ng-container>
<ng-container *ngIf="lineData && !issuesTypes">
  <h1 class="header-txt">Issues by year</h1>
  <pandora-chart [data]="lineData" type="line-chart"> </pandora-chart>
</ng-container>

<ng-container *ngIf="issuesStatuses">
  <h1 class="header-txt">Issues Statuses</h1>
  <pandora-chart [data]="issuesStatuses" type="number-card"> </pandora-chart>
  <pandora-chart [data]="issuesStatuses" type="pie-grid"> </pandora-chart>
  <pandora-chart [data]="issuesStatuses" type="tree-map"> </pandora-chart>
  <!-- <pandora-chart [data]="issuesStatuses" type="charts-gauge"> </pandora-chart> -->
  <ng-container *ngIf="barData">
    <pandora-chart [data]="barData" type="bar-vertical"> </pandora-chart>
  </ng-container>
</ng-container>

<ng-container *ngIf="issuesTypes">
  <h1 class="header-txt">Issues Types</h1>
  <pandora-chart [data]="issuesTypes" type="number-card"> </pandora-chart>
  <pandora-chart [data]="issuesTypes" type="pie-grid"> </pandora-chart>
  <pandora-chart [data]="issuesTypes" type="tree-map"> </pandora-chart>
  <!-- <pandora-chart [data]="issuesTypes" type="charts-gauge"> </pandora-chart> -->
  <ng-container *ngIf="barData">
    <pandora-chart [data]="barData" type="bar-vertical"> </pandora-chart>
  </ng-container>
</ng-container>
