<mat-card
  *ngFor="let project of projects"
  matRipple
  [routerLink]="['' + project.id]"
>
  <mat-card-header>
    <mat-card-title>
      <img
        *ngIf="project.avatarUrl"
        [src]="project.avatarUrl"
        alt="Photo of a Shiba Inu"
        width="20"
        height="20"
      />
      {{ project.name }}
      <img
        *ngIf="project.avatarUrl"
        [src]="project.avatarUrl"
        alt="Photo of a Shiba Inu"
        width="20"
        height="20"
      />
    </mat-card-title>
    <mat-card-subtitle>
      Key: {{ project.key ? project.key : "〰〰" }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Category : {{ project.methodology ? project.methodology : "〰〰" }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Project Type Key :
      {{ project.projectTypeKey ? project.projectTypeKey : "〰〰" }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Is Simplified : {{ project.simplified ? project.simplified : "〰〰" }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Style : {{ project.style ? project.style : "〰〰" }}
    </mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-card-content>
  </mat-card-content> -->
</mat-card>
