<section
  *ngIf="data"
  class="charts"
  [ngStyle]="{ marginTop: type === 'line-chart' ? '50px' : 'auto' }"
>
  <section [ngSwitch]="type">
    <ngx-charts-number-card
      [view]="view"
      *ngSwitchCase="'number-card'"
      [scheme]="colorScheme"
      [results]="data"
      [cardColor]="cardColor"
    >
    </ngx-charts-number-card>
    <ngx-charts-pie-grid
      [view]="view"
      *ngSwitchCase="'pie-grid'"
      [scheme]="colorScheme"
      [results]="data"
    >
    </ngx-charts-pie-grid>
    <ngx-charts-bar-vertical
      [view]="view"
      *ngSwitchCase="'bar-vertical'"
      [scheme]="colorScheme"
      [results]="data"
      [xAxis]="true"
      [showGridLines]="false"
      [yAxis]="true"
    >
    </ngx-charts-bar-vertical>
    <ngx-charts-tree-map
      [view]="view"
      [scheme]="colorScheme"
      [results]="data"
      *ngSwitchCase="'tree-map'"
      [animations]="true"
    >
    </ngx-charts-tree-map>

    <ngx-charts-gauge
      [view]="[view[0], 400]"
      [scheme]="colorScheme"
      [results]="data"
      [legend]="false"
      *ngSwitchCase="'charts-gauge'"
      [animations]="true"
    >
    </ngx-charts-gauge>

    <ngx-charts-line-chart
      *ngSwitchCase="'line-chart'"
      [view]="view"
      [scheme]="colorScheme"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [showGridLines]="true"
      [xAxis]="true"
      [yAxis]="true"
      xAxisLabel="Year"
      yAxisLabel="Count"
      timeline="true"
      [results]="data"
    >
    </ngx-charts-line-chart>
  </section>
</section>
