<ng-container *ngIf="issuesTypes && issuesTypes">
  <section class="row" *ngIf="!isStatic">
    <mat-card class="col-12">
      <h1>{{ project.name }}</h1>
    </mat-card>
    <div class="col-6" *ngIf="project.name !== allProjects">
      <pandora-filter></pandora-filter>
    </div>
  </section>
  <panadora-dashboard [total]="total" [colorScheme]="['#F0F2F2']">
  </panadora-dashboard>
  <panadora-dashboard
    [issuesStatuses]="issuesStatuses"
    [barData]="issuesStatuses"
  ></panadora-dashboard>
  <panadora-dashboard
    [issuesTypes]="issuesTypes"
    [barData]="issuesTypes"
  ></panadora-dashboard>
</ng-container>
