<section class="row">
  <mat-card class="col-6">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          cardim
          [src]="user.avatarUrls['48x48']"
          alt="Photo of a Shiba Inu"
          height="30"
        />
      </div>
      <mat-card-title>
        {{ user.displayName }}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</section>

<section class="row">
  <div class="col-6">
    <pandora-filter-projects
      (getData)="getData($event)"
    ></pandora-filter-projects>
  </div>
</section>
