<section class="row" *ngIf="epics">
  <mat-card
    *ngFor="let epic of epics"
    matRipple
    class="col-2"
    [routerLink]="[epic.id]"
  >
    <mat-card-header>
      <div mat-card-avatar>
        <img
          cardim
          [src]="epic.avatarUrl"
          alt="Photo of a Shiba Inu"
          height="30"
        />
      </div>
      <mat-card-title>
        {{ epic.summary }}
      </mat-card-title>
    </mat-card-header>
    <!-- <mat-card-content>
    </mat-card-content> -->
  </mat-card>
</section>
