<ng-select
  [items]="projects"
  [multiple]="true"
  bindLabel="name"
  groupBy="project"
  [selectableGroup]="true"
  placeholder="Select Projects"
  [closeOnSelect]="false"
  bindValue="id"
  (change)="onChange($event)"
  [(ngModel)]="selectedProjects"
>
  <ng-template
    ng-option-tmp
    let-item="item"
    let-item$="item$"
    let-index="index"
  >
    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
    <img
      src="{{ item.avatarUrl }}"
      alt="user photo"
      width="20"
      height="20"
      *ngIf="item.avatarUrl"
    />
    {{ item.name }}
  </ng-template>
</ng-select>
